* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('https://media.istockphoto.com/id/1202843504/photo/business-technology-internet-and-network-concept-technical-support-center-customer-service.jpg?b=1&s=170667a&w=0&k=20&c=2Ll73Cgdlw8_p7KZ8dwmou5NQEY2Fkix-GQw-hUnyag=');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('https://media.istockphoto.com/id/1202843504/photo/business-technology-internet-and-network-concept-technical-support-center-customer-service.jpg?b=1&s=170667a&w=0&k=20&c=2Ll73Cgdlw8_p7KZ8dwmou5NQEY2Fkix-GQw-hUnyag=');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://media.istockphoto.com/id/1202843504/photo/business-technology-internet-and-network-concept-technical-support-center-customer-service.jpg?b=1&s=170667a&w=0&k=20&c=2Ll73Cgdlw8_p7KZ8dwmou5NQEY2Fkix-GQw-hUnyag=');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}